body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(140, 161, 139); */
}
.container{
    /* border:1px solid black; */
    width: 320px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(70, 69, 69);
    background-color: white;
}
.display_box{
    width: 320px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.display{
    height: 40px;
    width: 220px;
    margin-top: 10px;
    background-color: gray;
    margin-left: 10px;
    text-align: right;
    font-size: large;
}
.button_section{
    width: 300px;
    margin-left: 10px;
}
input{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    background-color:white;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.6);
    border-style:groove;
    font-size: large;
    font-family: sans-serif;
}
input:hover{
    border-color:black;
}
